#header,
#main {
    max-width: 70%;
    margin: auto;
}

#navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#nav1 {
    display: flex;
    gap: 11px;
    align-items: center;
    margin-left: 10px;
}

#nav2 {
    display: flex;
    /* gap: 50px; */
    align-items: center;
    margin-right: 10px;
}

#task-completed {
    margin: 0 50px 0 10px;
}

.brand-name {
    font-size: 35.67px;
}

#board {
    font-weight: 800;
}

.task-box {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#theme-btn {
    cursor: pointer;
}




#main {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#task-section {
    max-width: 70%;
    background-color: white;
    border-radius: 20px;
    /* background-color: #fff; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}



/* ===== Overview Section ===== */
#overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* flex-wrap: wrap; */
    margin: 24px;
    border-bottom: 2px dashed;

}

.card {
    background: #F4F7FF;
    border-radius: 12px;
    padding: 20px;
    width: 25%;
    height: 128px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.card p {
    font-size: 16px;
    color: #555;
}

.card img {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}


#discover {
    background: linear-gradient(90deg, #6a8cff, #8ea6ff);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 12px;
    padding: 20px;
    width: 50%;
    height: 128px;
    cursor: pointer;
}

#discover p {
    font-size: 24px;
    margin-left: 22px;
}

.date {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #F4F7FF;
    border-radius: 12px;
    padding: 20px;
    width: 25%;
    height: 128px;
}

#date-img {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}


.date p {
    font-size: 22px;
}

/* ===== Task Container ===== */
.task-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 ta column */
    gap: 20px;
    margin: 24px;
}

.task-card {
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    background: #F4F7FF;
    border-radius: 16px;
    padding: 20px;

}

.task-card h4 {
    color: #0e153a;
    font-size: 18px;
}

.task-card p {
    font-size: 13px;
    color: #777;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); */
}

.badge {
    background: #fff;
    color: #1b3b8f;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    display: inline-block;
    /* width: fit-content; */
}

.deadline-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deadline {
    font-size: 13px;
    color: #444;
}

.status {
    background: #4e74ff;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 8px;
    /* width: fit-content;
    align-self: flex-end; */
    cursor: pointer;
}

.status:disabled {
    opacity: 0.5;
    /* fade effect */
    cursor: not-allowed;
    background-color: #ccc;
    /* optional */
}


/* ===== Activity Log ===== */
#activity-container {
    width: 30%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-height: 94.5%;
    text-align: center;
}

#activity {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    align-items: center;
    gap: 15px;
}

.activity-log {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


#btn-clear-history {
    background: #4e74ff;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 16px 16px;
    cursor: pointer;
    transition: 0.3s;
    
}

#btn-clear-history:hover {
    background: #3558e2;
}

.log {
    background: #f7faff;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}